{% extends "master.html" %}

{% block content %}
<h1>Welcome to the Blog!</h1>
{% if user.is_authenticated %}
  <p>Hello, {{ user.username }}! Go to your <a href="{% url 'profile' user.username %}">Profile</a>.</p>

  <p>Check out posts<a href="/blog/listBlogs">Posts</a></p>

  <form id="logout-form" method="POST" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">Logout</button>
  </form>
  
{% else %}
  <p>You are not logged in. <a href="{% url 'login' %}">Login here</a>.</p>
{% endif %}

{% endblock %}