{% extends "master.html" %}

{% block title %}
   List of all Items
{% endblock %}


{% block content %}
  <h1>List of Posts</h1>
  
  <ul>
    <p><a href="/users/">HOME</a></p>

    {% for x in myposts %}
    <li>
      <a href="details/{{ x.id }}">
        <span style="font-weight: bold;">{{ x.title }}</span> 
        <span style="color: green; margin-left: 10px;">{{ x.created_at|date:"F j, Y, g:i a" }}</span>
      </a>
    </li>
    {% endfor %}
  </ul>

  <h2>Create a New Post</h2>
  <form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}  
    <input type="submit" value="Submit">
  </form>

{% endblock %}